################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdvancedObjectOrientedProgramming/v16
/BankATMForm/bin/Debug
